name: build

on:
  # Trigger the workflow on pull request,
  # but only for the main branch
  pull_request:
    branches:
      - main
  # Also trigger on release created events
  release:
    types:
      - created
  workflow_dispatch:

env:
  # Emscripten version that comes with Unity 2021.2
  EM_VERSION: 2.0.19
  EM_CACHE_FOLDER: 'emsdk-cache'
  # Emscripten version that comes with older Unity versions
  EM_LEGACY_VERSION: 1.38.48-fastcomp
  EM_LEGACY_CACHE_FOLDER: 'emsdk-legacy-cache'

jobs:
  mac:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        lfs: true

    - name: configure_mac
      run: cmake . -Bbuild_mac -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"
    - name: build_mac
      run: cmake --build build_mac --config MinSizeRel --target ktx_unity -- ONLY_ACTIVE_ARCH=NO

    - name: configure_ios
      run: cmake -B build_ios -G Xcode -DCMAKE_SYSTEM_NAME=iOS -DKTX_EMBED_BITCODE=ON
    - name: build_ios
      run: cmake --build build_ios --config MinSizeRel --target ktx_unity -- ONLY_ACTIVE_ARCH=NO

    - name: package_apple
      run: |
        mkdir ktx_unity_apple
        mkdir ktx_unity_apple/x86_64
        mv build_mac/ktx_unity.bundle ktx_unity_apple/x86_64
        mkdir ktx_unity_apple/iOS
        mv build_ios/MinSizeRel-iphoneos/libktx_unity.a ktx_unity_apple/iOS
        mv build_ios/KTX-Software/MinSizeRel-iphoneos/libktx_read.a ktx_unity_apple/iOS
        mv build_ios/KTX-Software/interface/basisu_c_binding/MinSizeRel-iphoneos/libobj_basisu_cbind.a ktx_unity_apple/iOS
    - uses: actions/upload-artifact@v2
      with:
        name: ktx_unity_apple
        path: ktx_unity_apple

  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        lfs: true

    - name: configure_win_64
      run: cmake . -G "Visual Studio 16 2019" -A x64 -Bbuild_win_64
    - name: build_win_64
      run: cmake --build build_win_64 --config MinSizeRel --target ktx_unity
    # Tests don't work / are not built yet
    # - name: test_win
    #   run: cmake --build build_win_64 --target test

    # Universal Windows Platform
    - name: configure_uwp_arm64
      run: cmake . -G "Visual Studio 16 2019" -A ARM64 -Bbuild_uwp_arm64 -DCMAKE_SYSTEM_NAME:String=WindowsStore -DCMAKE_SYSTEM_VERSION:String="10.0"
    - name: build_uwp_arm64
      run: cmake --build build_uwp_arm64 --config MinSizeRel --target ktx_unity

    - name: configure_uwp_arm
      run: cmake . -G "Visual Studio 16 2019" -A ARM -Bbuild_uwp_arm -DCMAKE_SYSTEM_NAME:String=WindowsStore -DCMAKE_SYSTEM_VERSION:String="10.0"
    - name: build_uwp_arm
      run: cmake --build build_uwp_arm --config MinSizeRel --target ktx_unity

    - name: configure_uwp_x64
      run: cmake . -G "Visual Studio 16 2019" -A x64 -Bbuild_uwp_x64 -DCMAKE_SYSTEM_NAME:String=WindowsStore -DCMAKE_SYSTEM_VERSION:String="10.0"
    - name: build_uwp_x64
      run: cmake --build build_uwp_x64 --config MinSizeRel --target ktx_unity

    - name: configure_uwp_x86
      run: cmake . -G "Visual Studio 16 2019" -A Win32 -Bbuild_uwp_x86 -DCMAKE_SYSTEM_NAME:String=WindowsStore -DCMAKE_SYSTEM_VERSION:String="10.0"
    - name: build_uwp_x86
      run: cmake --build build_uwp_x86 --config MinSizeRel --target ktx_unity

    - name: package_win
      run: |
        mkdir ktx_unity_win/x86_64
        mkdir ktx_unity_win/WSA/ARM64
        mkdir ktx_unity_win/WSA/ARM
        mkdir ktx_unity_win/WSA/x64
        mkdir ktx_unity_win/WSA/x86
        mv build_win_64\MinSizeRel\ktx_unity.dll ktx_unity_win/x86_64
        mv build_uwp_arm64\MinSizeRel\ktx_unity.dll ktx_unity_win/WSA/ARM64
        mv build_uwp_arm\MinSizeRel\ktx_unity.dll ktx_unity_win/WSA/ARM
        mv build_uwp_x64\MinSizeRel\ktx_unity.dll ktx_unity_win/WSA/x64
        mv build_uwp_x86\MinSizeRel\ktx_unity.dll ktx_unity_win/WSA/x86
    - uses: actions/upload-artifact@v2
      with:
        name: ktx_unity_win
        path: ktx_unity_win

    ## No 32 bit support, since KTX-Software does not provide it
    # - name: configure_win_32
    #   run: cmake . -G "Visual Studio 16 2019" -A Win32 -Bbuild_win_32
    # - name: build_win_32
    #   run: cmake --build build_win_32 --config MinSizeRel --target ktx_unity
    # - uses: actions/upload-artifact@v2
    #   with:
    #     name: ktx_unity_win_32
    #     path: build_win_32\MinSizeRel\ktx_unity.dll

  linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        lfs: true

    - name: apt_install
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install libzstd-dev ninja-build
    - name: configure_linux_64
      run: cmake . -G Ninja -Bbuild_linux_64 -DCMAKE_BUILD_TYPE=MinSizeRel
    - name: build_linux_64
      run: cmake --build build_linux_64 --target ktx_unity

    # - name: install_i386_env
    #   run: |
    #     sudo apt-get update
    #     sudo apt install build-essential gcc-multilib g++-multilib libzstd-dev:i386
    # - name: configure_linux_32
    #   run: cmake . -G Ninja -Bbuild_linux_32 -DCMAKE_TOOLCHAIN_FILE=cmake/linux_i686.toolchain.cmake -DCMAKE_BUILD_TYPE=MinSizeRel
    # - name: build_linux_32
    #   run: cmake --build build_linux_32 --target ktx_unity

    # Emscripten
    - name: Setup cache
      id: cache-system-libraries
      uses: actions/cache@v2
      with:
        path: ${{env.EM_CACHE_FOLDER}}
        key: ${{env.EM_VERSION}}-${{ runner.os }}
    - uses: mymindstorm/setup-emsdk@v10
      with:
        version: ${{env.EM_VERSION}}
        actions-cache-folder: ${{env.EM_CACHE_FOLDER}}
    - name: configure_wasm
      run: emcmake cmake -B build_web
    - name: build_wasm
      run: cmake --build build_web --target ktx_unity


    # Android
    - name: install_android_ndk
      run: if [ ! -f android-ndk-r21d-linux-x86_64.zip ]; then echo "Installing Android NDK"; wget https://dl.google.com/android/repository/android-ndk-r21d-linux-x86_64.zip; unzip android-ndk-r21d-linux-x86_64.zip; echo "Installed Android NDK"; else echo "Android NDK already installed"; fi

    - name: configure_android_arm64-v8a
      run: cmake -Bbuild_android_arm64-v8a -DANDROID_ABI=arm64-v8a -DCMAKE_BUILD_TYPE=MinSizeRel -DANDROID_NDK=android-ndk-r21d -DCMAKE_TOOLCHAIN_FILE="android-ndk-r21d/build/cmake/android.toolchain.cmake"
    - name: build_android_arm64-v8a
      run: cmake --build build_android_arm64-v8a --target ktx_unity

    - name: configure_android_armeabi-v7a
      run: cmake -Bbuild_android_armeabi-v7a -DANDROID_ABI=armeabi-v7a -DCMAKE_BUILD_TYPE=MinSizeRel -DANDROID_NDK=android-ndk-r21d -DCMAKE_TOOLCHAIN_FILE="android-ndk-r21d/build/cmake/android.toolchain.cmake"
    - name: build_android_armeabi-v7a
      run: cmake --build build_android_armeabi-v7a --target ktx_unity

    # Linux, WebGL and Android artifact 
    - name: package_linux
      run: |
        mkdir -p ktx_unity_linux/x86_64
        mv build_linux_64/libktx_unity.so ktx_unity_linux/x86_64
        mkdir -p ktx_unity_linux/WebGL
        mv build_web/libktx_unity.a ktx_unity_linux/WebGL
        mv build_web/KTX-Software/libktx_read.a ktx_unity_linux/WebGL
        mv build_web/KTX-Software/interface/basisu_c_binding/libobj_basisu_cbind.a ktx_unity_linux/WebGL
        mkdir -p ktx_unity_linux/Android/libs/arm64-v8a
        mkdir -p ktx_unity_linux/Android/libs/armeabi-v7a
        mv build_android_arm64-v8a/libktx_unity.so ktx_unity_linux/Android/libs/arm64-v8a
        mv build_android_armeabi-v7a/libktx_unity.so ktx_unity_linux/Android/libs/armeabi-v7a
        # mkdir -p ktx_unity_linux/x86
        # mv build_linux_32/libktx_unity.so ktx_unity_linux/x86
    - uses: actions/upload-artifact@v2
      with:
        name: ktx_unity_linux
        path: ktx_unity_linux

  linux_legacy:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        lfs: true

    # Emscripten legacy
    - name: Setup cache
      id: cache-system-libraries
      uses: actions/cache@v2
      with:
        path: ${{env.EM_LEGACY_CACHE_FOLDER}}
        key: ${{env.EM_LEGACY_VERSION}}-${{ runner.os }}
    - uses: mymindstorm/setup-emsdk@v10
      with:
        version: ${{env.EM_LEGACY_VERSION}}
        actions-cache-folder: ${{env.EM_LEGACY_CACHE_FOLDER}}
    - name: configure_wasm
      run: emcmake cmake -B build_web -DEMSCRIPTEN_GENERATE_BITCODE_STATIC_LIBRARIES=1
    - name: build_wasm
      run: cmake --build build_web --target ktx_unity

    # Linux legacy artifact 
    - name: package_linux_legacy
      run: |
        mkdir -p ktx_unity_linux_legacy/WebGL
        mv build_web/libktx_unity.bc ktx_unity_linux_legacy/WebGL
        mv build_web/KTX-Software/libktx_read.bc ktx_unity_linux_legacy/WebGL
        mv build_web/KTX-Software/interface/basisu_c_binding/libobj_basisu_cbind.bc ktx_unity_linux_legacy/WebGL

    - uses: actions/upload-artifact@v2
      with:
        name: ktx_unity_linux_legacy
        path: ktx_unity_linux_legacy

  combine:
    name: combine artifacts
    runs-on: ubuntu-latest
    needs: [mac, windows, linux, linux_legacy]
    steps:
      - name: download artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: artifacts
      - name: combine
        run: |
          mkdir ktx_unity
          cp -r artifacts/ktx_unity_apple/* ktx_unity
          cp -r artifacts/ktx_unity_win/* ktx_unity
          cp -r artifacts/ktx_unity_linux/* ktx_unity
          cp -r artifacts/ktx_unity_linux_legacy/* ktx_unity
      - name: zip
        run: zip -r ktx_unity.zip ktx_unity
      - uses: AButler/upload-release-assets@v2.0
        if: github.event_name == 'release' && github.event.action == 'created'
        with:
          files: ktx_unity.zip
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v2
        with:
          name: ktx_unity.zip
          path: ktx_unity.zip
      - uses: geekyeggo/delete-artifact@v1
        with:
          name: |
            ktx_unity_apple
            ktx_unity_win
            ktx_unity_linux
            ktx_unity_linux_legacy
